@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form>
    <span>Test</span>
    <div class="form-row">
        <div class="col-3">
            <input type="text" class="form-control" placeholder="âm hán việt">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="nghĩa">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="on">
        </div>
        <div class="col-3">
            <input type="text" class="form-control" placeholder="kun">
        </div>
    </div>

</form>